<div id="responsive" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-body">
        <div class="row-fluid">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Tarefa</div>
                    <div class="tools">
                        <a href="javascript:;" data-dismiss="modal" class="remove"></a>
                    </div>
                </div>
                <div class="portlet-body form">
                    
                </div>
            </div>
        </div>
    </div>
</div>