<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ConnectString" connectionString="Data Source=DKO-PC\DKOSQLSERVER\v11.0;AttachDbFilename=|DataDirectory|\aspnet-DKO.EQualy.UI-20140712114913.mdf;Initial Catalog=aspnet-DKO.EQualy.UI-20140712114913;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ConnectString_Old" connectionString="Server=www.dkosoftware.com.br;Database=DKO_EQualy;User Id=userEQualy;Password=300999;" providerName="System.Data.SqlClient" />
	<add name="ConnectString" connectionString="Data Source=cloud.alfaweb.com.br,391\sqlexpress; Initial Catalog=SysLRWeb; User ID=sa; Password=Datahouse123; Connect Timeout=30" providerName="System.Data.SqlClient" />
	<!--<add name="ConnectString" connectionString="Server=192.168.2.101;Database=DKO_EQualy;User Id=userEQualy;Password=300999;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectString" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DKO_EQualy;Data Source=DKO-PC" providerName="System.Data.SqlClient" />-->

    <!--<add name="ConnectString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DKO_EQualy;Data Source=DKO-PC\DKOSQLSERVER" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!-- parametros do sistema -->
    <!-- email para envio de solicitação de arquivo -->
    <add key="EmailQualidade" value="riguel@dkosoftware.com.br" />
    <add key="EmailSistemaEQualy" value="riguel@dkosoftware.com.br" />
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="rbfz800@hotmail.com"/>
    <add key="Password" value="280683"/>
    <add key="Port" value="25"/>
    <add key="urlDoSistema" value="http://localhost/EQualy/"/>
    <!-- fim parametros do sistema -->
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="Host" value="smtp.live.com"/>
   
  </appSettings>
  <system.web>
    <globalization  culture="pt-BR" uiCulture="pt-BR" enableClientBasedCulture="false"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Login/Login" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <sessionState cookieless="AutoDetect" />
  </system.web>
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>